<br>
<br>

<div class="container" style="text-align:center">
  <h1>Quotations</h1>
</div>

<div class="row" style="margin: 3px">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="useMock" (change)=changeMock()>
      <label class="custom-control-label" for="customSwitch1">Use mocked data</label>

    </div>
</div>


<div class="row" style="margin: 3px">
  <div class="col-lg-4">
    <div>
      <h3 style="text-align: center">Dolar</h3>
    </div>
    <div class="card" *ngFor="let dolar of dolarCards">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Updated {{dolar[2] | timeAgo}} </h6>
        <p class="card-text">Buy {{dolar[0]}}</p>
        <p class="card-text">Sell {{dolar[1]}}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <h3 style="text-align: center">Peso</h3>
    </div>
    <div class="card" *ngFor="let peso of pesoCards">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Updated {{peso[2] | timeAgo}}</h6>
        <p class="card-text">Buy {{peso[0]}}</p>
        <p class="card-text">Sell {{peso[1]}}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <h3 style="text-align: center">Real</h3>
    </div>
    <div class="card" *ngFor="let real of realCards">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Updated {{real[2] | timeAgo}}</h6>
        <p class="card-text">Buy {{real[0]}}</p>
        <p class="card-text">Sell {{real[1]}}</p>
      </div>
    </div>
  </div>
</div>